@import "base-large.css";

@media only screen and (min-width:38rem) {

    main .members-container {
        &.cards {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.list {
            section {
                grid-template-columns: 1fr 2fr 1fr 1fr;
                padding: 8px;

                a,
                p {
                    text-align: left;
                }

                p.membership-level {
                    display: block;
                }
            }
        }
    }

}